<div class="card">
    <div class="top-left-circle">
        <p>6</p>
    </div>
    <div class="top-right-circle">
        <div class="hole" style="background-image: url('/assets/img/bow-and-arrow.png');
        background-size: cover;"></div>
    </div>
    <div class="top-middle-circle" >
        <div class="hole" style="background-image: url('/assets/img/heart.png');
        background-size: cover;"></div>
    </div>
    <div class="card-img">
      <img src="https://cdn.discordapp.com/attachments/1084780363932512256/1085495340469329990/C_O_M_F_Y_an_elf_queen_full_body_with_blonde_long_straight_hair_911cd76e-6b01-4209-a9c3-18a1edb6ed71.png" alt="card image">
    </div>
    <div class="card-name">
      <h5>Elizabeth of Lionheart</h5>
    </div>
    <div class="card-description">
      <p>Your card description</p>
    </div>
  </div>

  <div class="card-returned">
    <div class="middle-image">
        <div class="logo" style="background-image: url('/assets/img/logo.png');
        background-size: cover;"></div>
    </div>
  </div>
