<div class="menu-principal">
  <div class="boutons" *ngIf="isLoggedIn">
    <img src="/assets/img/logo.png" alt="Logo">
    <div class="usernameText">
      <p>Connected as : {{ username }}</p>
    </div>
    <!--
    <button class="bouton-jouer">STORY MODE</button>
    <button class="bouton-jouer">MULTIPLAYER</button>
    <a href="/faction"><button class="bouton-jouer">DECK</button></a>
    <button class="bouton-jouer">SHOP</button>
    -->
    <a href="/faction"><button class="bouton-jouer">FACTION</button></a>
    <a href="/card"><button class="bouton-jouer">CARD</button></a>
    <button (click)="logout()" type="button" class="bouton-quitter">LOGOUT</button>
  </div>
</div>